
/*==============================
Colors variables
================================*/

$color--brand-main: #0B132A;
$color--font: #4f5665;
$color--green: #00ff00;
$color--light-grey: #dddddd;
$color--grey: #f8f8f8;
$color--grey-border: #eeeff2;
$color--black: #000000;
$color--white: #ffffff;
